<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    {% include 'components/searchbar.html' %}
    <div class="under">
        {% include 'components/sidebar.html' %}
        {% block content %}
        <div class="main-content">
            <div class="header">
                <h1>Welcome, {{ user.username }}!</h1>
            </div>
            <div class="projects">
                <h2>Your Projects</h2>
                <hr class="underline">
                <div class="project-cards">
                    {% for project in projects %}
                        <div class="project-card">
                            <h3>{{ project.title }}</h3>
                            <p>{{ project.description }}</p>
                            <p>Deadline: {{ project.end_date }}</p>
                        </div>
                    {% empty %}
                    <div>No Assigned Project</div>
                    {% endfor %}
                </div>
            </div>
            <div class="tasks">
                <h2>Your Tasks</h2>
                <hr class="underline">
                {% for task in tasks %}
                    <div class="task">{{ task.title }} - {{ task.status }}</div>
                {% empty %}
                    <div>No tasks assigned.</div>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
</body>
</html>

