{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log in</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}?v=1.0">
    </head>

    <body>
        <div class="wrapper">
            <div class="sidebar"></div> <!-- Left color bar -->
            <div class="container">
                <div class="welcome-title">Welcome to </div>
                <h3>Log into your <br>Account</h3>
                <form class="login-form" method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="non-field-errors">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="form-group-username">
                        <label for="username">Username</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                        <div class="error-message">{{ form.username.errors.0 }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        {{ form.password }}
                        {% if form.password.errors %}
                        <div class="error-message">{{ form.password.errors.0 }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group-label">
                        <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
                    </div>            
                    <div class="form-group">
                        <button type="submit" class="btn-submit">Log in</button>
                    </div>
                </form>
                <div class="links">
                    <div class="links-1">
                        <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>
