{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    <link rel="stylesheet" href="{% static 'css/password.css' %}?v=1.0">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar"></div>
        <div class="container">
            <a href="{% url 'auth:forgot_password' %}" class="back-link">&lt; Back</a>
            <h3>Set New<br>Password</h3>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="new_password">New Password</label>
                    <input type="password" name="new_password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" required>
                </div>
                    <button type="submit" class="btn-reset">Reset Password</button>
            </form>
        </div>
    </div>    
</body>
</html>