{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}?v=1.0">
</head>
<body>
    <div class="sidebar"></div> <!-- Left color bar -->
    <div class="container">
        <a href="{% url 'login' %}" class="back-link">&lt; Back</a>
        <h3>Forgot your <br>Password?</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="verification_code">Verification Code</label>
                <input type="text" name="verification_code" required>
            </div>
            <div class="row"> <!-- Row for New Password and Confirm Password -->
                <div class="form-group">
                    <label for="new_password">New Password</label>
                    <input type="password" name="new_password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_new_password">Confirm New Password</label>
                    <input type="password" name="confirm_new_password" required>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-reset">Reset Password</button>
            </div>
        </form>
    </div>
</body>
</html>
