<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/taskslist.css' %}">
</head>
<body>
    {% include 'components/searchbar.html' %}
    <div class="under">
        {% include 'components/sidebar.html' %}
        {% block content %}
            <div class="main-content">
                <h1>Tasks</h1>
                {% comment %} {% include 'task_management/task_management.html' %} {% endcomment %}
            </div>
        {% endblock %}
    </div>
</body>
</html>