{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="actions">
            <button id="addTaskBtn" class="addTaskBtn">+ Add Task</button>
            <div class="search-filter">
                <input type="text" id="searchInput" placeholder="Search tasks...">
                <button id="searchBtn" class="searchBtn">Search</button>
                <button id="filterBtn" class="filterBtn">Filter</button>
            </div>
        </div>
        
        {% include "task_management/tasks_table.html" %}
    </div>

    {% include "task_management/add_tasks.html" %}

    {% include "task_management/tasks_details.html" %}

    <script src="{% static 'javascript/task_management.js' %}"></script>
</body>
</html>