<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project.title }} - Project Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/project_detail.css' %}">
    <script src="{% static 'js/project_detail.js' %}" defer></script>
    <script src="{% static 'js/add_member.js' %}" defer></script> 
</head>
<body>
{% block content %}
    {% include 'components/searchbar.html' %}
    <div class="under">
        {% include 'components/sidebar.html' %}
        <div class="main-content">
            <h1>{{ project.title }}</h1>
            <div class="project-nav">
                <div class="nav-button">
                    <button class="tab-link active" data-tab="overview">Overview</button>
                    <button class="tab-link" data-tab="task_table">Tasks</button>
                    <button class="tab-link" data-tab="board">Board</button>
                    <button class="tab-link" data-tab="calendarTab">Calendar</button>
                    <button class="tab-link" data-tab="documents">Documents</button>
                </div>
            </div>
            <div id="overview" class="tab_content active">
                <div class="project-description">
                    <h2>Project Description</h2>
                    <p>{{ project.description }}</p>
                </div>
                <div class="project-details">
                    <div class="deadline">
                        <h3>Deadline</h3>
                        <p>{{ project.end_date }}</p>
                    </div>
                    <div>
                        <div class="member-header">
                            <h3>Members</h3>
                            <button id="addMemberButton" class="add-member-btn">+</button>
                        </div>
                        <p>{{ project.owner.username }}</p>
                        <div class="members">
                            {% for member in members %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tasks">
                    <h3>Tasks</h3>
                    <ul>
                        {% for task in project.task_set.all %}
                            <li>{{ task.title }} - {{ task.status }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="task_table" class="tab_content">
                {% include 'task_management/task_management.html' %}
            </div>
            
            <div id="board" class="tab_content">
                {% include 'task_management/kanban_board.html' %}
            </div>
            <div id="calendarTab" class="tab_content">
                <div id='calendar'>{% include 'task_management/calendar.html' %}</div>
            </div>

            <div id="documents" class="tab_content">
                {% include 'task_management/documents.html' %}
            </div>
        </div>
        <!-- Include the Create Project Modal -->
        {% include 'project_page/addmembermodal.html' %}
    </div>
{% endblock %}
</body>
</html>
