<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/project_list.css' %}">
    <script src="{% static 'js/create_project.js' %}" defer></script> 
    <script src="{% static 'js/project_options.js' %}" defer></script> 
</head>
<body>
    {% include 'components/searchbar.html' %}
    <div class="under">
        {% include 'components/sidebar.html' %}
        {% block content %}
            <div class="main-content">
                <div class="header">
                    <h1>Project List</h1>
                    <button class="create-project" id="createProjectBtn">Create project +</button>
                </div>
                <div class="projects">
                    <div class="project-cards">
                        {% if projects %}
                            {% for project in projects %}
                                <div class="project-card">
                                    <a href="{% url 'project_planning_and_scheduling:project_detail' project.id %}">
                                        <div data-project-id="{{ project.id }}" class="project-info">
                                            <div class="left-list">
                                                <h3>{{ project.title }}</h3>
                                                <p>Deadline: {{ project.end_date }}</p>
                                            </div>
                                            <div class="right-list">
                                                <h3>Status: {{ project.status }}</h3>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="more-options">
                                        <button class="more-options-btn" aria-label="More options">&#8230;</button>
                                        <div class="options-dropdown">
                                            <ul>
                                                <li><a class="delete-project" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No Assigned Project</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}

        <!-- Include the Create Project Modal -->
        {% include 'project_page/createprojectmodal.html' %}

        <!-- Include the Delete Confirmation Modal -->
        {% include 'project_page/deleteprojectmodal.html' %}
    </div>
</body>
</html>
