<div class="sidebar">
    {% load static %}
    <nav role="navigation">
        <ul>
            <li class="nav-container {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                <a href="{% url 'home:home' %}" class="nav-link" aria-label="Home">
                    <div class="nav-item">
                        <img src="{% static 'images/home.png' %}" alt="Home Icon" class="sidebar-icon">
                        <p>Home</p>
                    </div>
                </a>
            </li>
            <li class="nav-container {% if request.resolver_match.url_name == 'projects_list' or request.resolver_match.url_name == 'project_detail' %}active{% endif %}">
                <a href="{% url 'project_planning_and_scheduling:projects_list' %}" class="nav-link" aria-label="Projects">
                    <div class="nav-item">
                        <img src="{% static 'images/project.png' %}" alt="Projects Icon" class="sidebar-icon">
                        <p>Projects</p>
                    </div>
                </a>
            </li>
            <!-- Check if "Dashboards" is meant to be different from "Home" -->
            <li class="nav-container {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                <a href="{% url 'dashboard:dashboard' %}" class="nav-link" aria-label="Dashboards">
                    <div class="nav-item">
                        <img src="{% static 'images/home.png' %}" alt="Dashboards Icon" class="sidebar-icon">
                        <p>Dashboard</p>
                    </div>
                </a>
            </li>
        </ul>    
        <div>
            <hr class="underline_sidebar">
            <ul>
                <li class="nav-container">
                    <a href="{% url 'auth:login' %}" class="nav-link" aria-label="Logout">
                        <div class="nav-item">
                            <img src="{% static 'images/logout.png' %}" alt="Dashboards Icon" class="sidebar-icon">
                            <p>Logout</p>
                        </div>
                    </a>
                </li>
                <li class="nav-container">
                    <a href="{% url 'home:home' %}" class="nav-link" aria-label="Logout">
                        <div class="nav-item">
                            <img src="{% static 'images/help.png' %}" alt="Dashboards Icon" class="sidebar-icon">
                            <p>Help</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>            
    </nav>
</div>


<style>
    .underline_sidebar{
        margin-top: 300px;
        width: 150px;
        border: none;
        height: 2px;
        background-color: #000;
    }
    .sidebar nav{
        margin-top: 20px;
    }

    .sidebar ul {
        height: auto;
    }

    .sidebar {
        margin-top: 57px;
        min-width: 228px;
        background-color: #A49898 !important; /* Force the background color */
        height: calc(100.40vh - 60px); /* Full height minus search bar height */
        display: flex; /* Enable flexbox */
        flex-direction: column; /* Stack children vertically */
    }

    .nav-container {
        display: flex; /* Use flexbox */
        align-items: center; /* Center vertically */
        padding: 5px;
        width: 207px;
        margin-left: 5px;
        height: 50px; /* Set height to auto */
        margin-bottom: 5px; /* Add space below the home link */
        border-radius: 10px;
    }

    .nav-item{
        display: flex;
    }
    .sidebar p{
        margin-left: 40px;
    }
    .nav-link {
        width: 100%;
        text-decoration: none; /* Removes the underline from links */
        color: black; /* Ensures link color inherits from parent */
        font-size: 18px; /* Adjust the font size */
        padding: 5px; /* Add some padding */
    }
    .sidebar-icon {
        margin-top: 18px;
        width: 20px;  /* Adjust width as needed */
        height: 20px; /* Adjust height as needed */
        margin-right: 8px; /* Space between the icon and text */
        vertical-align: middle; /* Align icon vertically with text */
        display: inline-block; /* Ensure it behaves like inline elements */
    }

    /* Active state for nav containers */
    .nav-container.active {
        background-color: #796262; /* Color for the active state */
    }

    /* Hover effect only for non-active nav containers */
    .nav-container:not(.active):hover {
        background-color: rgba(228, 228, 228, 0.5); /* Light gray with 50% transparency */
        transition: background-color 0.3s; /* Smooth transition for hover effect */
    }

    /* Prevent hover effect on active items */
    .nav-container.active:hover {
        background-color: #796262; /* Keeps the active color unchanged on hover */
    }
    .sidebar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
</style>